<html>
    <head>

    </head>
    <body>
        <h2>Enter details to update the mobile Information</h2>
        <form action='/addmobile' method='POST'> 
            <table>
                <tr>
                    <td><label for='id'>Mobile ID</label></td>
                    <td><input type="text" id='id' name='id'></td>
                </tr>
                <tr>
                    <td><label for='name'>Mobile Name</label></td>
                    <td><input type="text" id='name' placeholder="Name" name='name'></td>
                </tr>
                <tr>
                        <td><label for='name'>Mobile Price</label></td>
                        <td><input type="text" id='name' placeholder="Price" name='price'></td>
                    </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </table>
            
        </form>
    </body>
</html>